body{
    background-color: azure;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
main {
    flex-grow: 1;
}
/*main {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    flex-grow: 1;*/
/*}*/
.pexeso-board {
    background: antiquewhite;
    border: 5px solid red;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 30rem;
}
/*.active{*/
/*    width: 100%;*/
/*}*/
.pexeso-board-row {
    padding: 1rem 0;
}
.pexeso-board-row {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pexeso-board {
    display: flex;
}
.pexeso-card {
    min-width: 3rem;
    min-height: 3rem;
    background-color: red;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 1s;
}
.pexeso-card.revealed img{
    opacity: 1;
}
.pexeso-card.opened {
    background-color: lightcoral
}
.pexeso-card.opened img{
    opacity: 1;
    transform: rotate3d(0, 1, 0, 360deg);
}
.pexeso-card-image{
    pointer-events: none;
    transition: all 1s;
    opacity: 0;
}

.transition-1s {

}

.pexeso-card-hider {
    position: absolute;
    background-color: green;
    min-width: 3rem;
    min-height: 3rem;
}

@media screen and (min-width: 576px) {
    .pexeso-board-row {
        padding: 1rem 0;
    }
}

@media screen and(min-width: 768px) {
    .pexeso-board-row {
        padding: 2rem 0;
    }

}

@media screen and(min-width: 992px) {
    .pexeso-board-row {
        padding: 3rem 0;
    }

}

@media screen and (min-width: 1200px) {

}

@media screen and(min-width: 1400px) {

}

#Capa_1 {
    padding: 2rem 0;
    min-width: 3rem;
    max-width: 5rem;
}

div[data-view] {
    display: none;
}

div[data-view].active {
    display: inherit;
}
div[data-view="hra"].active {
    /*display: flex;*/
    /*justify-content: center;*/
}

/*div[data-view].active#home{*/
/*    display: flex!important;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
